.filterinput{
    display:block;
    margin: auto;
    width: 40%;
}

/* Estilo para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Ajusta la altura según tus necesidades */
}

/* Estilo para el título h2 */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para el input */
input {
    padding: 10px;
    width: 1000px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.precio{
    color: green;
}

#carrito-container {
    position: relative;
    display: inline-block;
    margin-right: 10px; 
  }
  
  #carrito-icon {
    font-size: 24px; 
    cursor: pointer;
  }
  
  #carrito-cantidad {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background-color: red; 
    color: white; 
    border-radius: 50%; 
    padding: 6px 8px; 
    font-size: 14px; 
  }
  