.cruz {
  height: 30px;
  width: 30px;
  color: gray;
  margin-bottom: 35px;
}

.check {
  height: 30px;
  width: 30px;
  color: green;
  margin-bottom: 35px;
}

.bordeaux, .veintediez, .otc {
  width: 10%;
  max-width: 500px;
  margin: 10px;
  background-color: #000000;
  border-radius: 1px solid rgb(180, 0, 0);
  padding: 10px;
}

.container-fluid .row .navbar {
  background-color: rgb(0, 0, 0);
}
.container-fluid .row .navbar .navbar-mobile {
  background-color: rgb(125, 0, 0);
}
.container-fluid .row .navbar .miiconodelnav {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
.container-fluid .row .navbar .navbar-mia {
  justify-content: end;
}
.container-fluid .row .navbar .navbar-mia .navbar-nav {
  --bs-nav-link-color: rgb(0, 0, 0);
  --bs-nav-link-hover-color: rgb(0, 0, 0);
}
.container-fluid .row .navbar .navbar-mia .navbar-nav .color-nav {
  color: rgb(180, 0, 0);
  font-size: medium;
  --bs-dropdown-link-active-bg: #000000;
}

h1, h2, h5, p, a {
  font-family: "Roboto Slab";
}

body {
  background: rgb(10, 6, 108);
  background: linear-gradient(159deg, rgb(10, 6, 108) 7%, rgb(0, 0, 0) 50%, rgb(65, 1, 1) 87%);
}

.blackrosetitulo {
  color: rgb(255, 253, 253);
}

.contenedor-licencias {
  background-color: rgb(8, 8, 45);
  color: rgb(255, 253, 253);
  border: 1px groove black;
  margin-bottom: 30px;
}
.contenedor-licencias .row h2 {
  padding-top: 40px;
}
.contenedor-licencias .row h2:nth-child(2) {
  padding-top: 20px;
}
.contenedor-licencias .row p {
  padding-top: 20px;
}

ul li {
  list-style: none;
  padding-top: 10px;
}

.contenedordebeats {
  background-color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.buyboton {
  background-color: rgb(180, 0, 0);
}

div {
  color: rgb(255, 253, 253);
}

.titulo-ins {
  padding-left: 180px;
}

.tiempo-ins {
  padding-left: 80px;
}

.bpm-ins {
  padding-left: 60px;
}

.tags-ins {
  padding-right: 60px;
}

svg {
  width: 16px;
  height: 16px;
}

.titulo {
  background-color: rgb(0, 0, 0);
}

.mifondo {
  height: 700px;
}

.MyM {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px 100px 20px 100px;
}

.container .biografialogo {
  width: 300px;
  height: 300px;
  border-radius: 30%;
}

.container .row .bgblack {
  background-color: rgb(0, 0, 0);
}
.container .row .bgblack .mibotondeenviar {
  border: #000000;
  background-color: rgb(180, 0, 0);
  color: aliceblue;
}

footer {
  background-color: rgb(0, 0, 0);
}
footer .container .footer1 {
  padding-top: 80px;
  padding-bottom: 50px;
}
footer .container .footer1 .logodelfooter {
  margin-bottom: 15px;
  border-radius: 30%;
}
footer .container .footer1 .parrafodelfooter {
  color: grey;
  margin-bottom: 50px;
}
footer .container .footer1 .titulos {
  color: rgb(255, 253, 253);
}
footer .container .footer1 .parrafodelfooter {
  color: grey;
  margin-bottom: 50px;
}
footer .container .footer1 .mibotoncito {
  background-color: black;
  border-color: darkred;
  border: 1px darkred solid;
  --bs-btn-hover-bg: #000000;
}
footer .divisiondelfooter .container .row .copyright {
  padding: 50px 20px 50px 20px;
}
footer .divisiondelfooter .container .row .titulos {
  color: rgb(255, 253, 253);
}
footer .divisiondelfooter .container .row .redeslogo {
  width: 30px;
  height: 30px;
}
footer .divisiondelfooter .container .row ul {
  color: aliceblue;
}

@media screen and (max-width: 576px) and (min-width: 100px) {
  .serviciomobile {
    padding-left: 15px;
  }
  .navbar-mia {
    justify-content: start;
  }
  .blackrosetitulo {
    align-items: start;
    padding-top: 10px;
  }
  .biografialogo {
    width: 50%;
    height: 50%;
  }
  p, h5, li {
    font-size: medium;
  }
  h2 {
    font-size: medium;
  }
  .blackrosetitulo {
    display: none;
  }
  .titulo-ins, .tiempo-ins, .bpm-ins, .tags-ins {
    display: none;
  }
  .mobile-none {
    display: none;
  }
  .contenedor-comprar {
    padding-left: 150px;
  }
  .MyM {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mibiografia {
    padding-left: 16px;
    padding-right: 16px;
  }
  .contenedor-comprar {
    margin-left: -40px;
  }
  .mobilebeat {
    padding-left: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
